ul {
    list-style-type: none;
    margin: 0px 280px 0px 280px;
    padding: 0;
    overflow: hidden;
    background-color: #444444;
        
    /* margin: 0px 280px 0px 280px; */
    margin: auto;
    width: 1000px;
    height: auto;
    white-space: nowrap;
}

li {
    float: left;
}
li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #7c7c7c;
}

li {
    border-right: 1px solid rgb(0, 0, 0);
}
li:last-child {
    border-right: none;
}

.header{
    /* margin: 5px 280px 5px 280px; */
    margin: auto;
    width: 1000px;
    height: auto;
    white-space: nowrap;
}

.hr{
    /* margin: 0px 280px 0px 280px; */
    margin: auto;
    width: 1000px;
    height: auto;
    white-space: nowrap;
}


.main{
    background-color: #000000;
    border: 3px solid rgb(0, 0, 0);
    border-width: 3px;
    background-image: linear-gradient(#494949, #1f1f1f);
    
    /* margin: 0px 280px 0px 280px; */
    margin: auto;
    width: 1000px;
    height: auto;
    white-space: nowrap;
}

.main2{
    background-color: #000000;
    border: 3px solid rgb(0, 0, 0);
    border-width: 3px;
    background-image: linear-gradient(#494949, #1f1f1f);
    
    /* margin: 0px 280px 0px 280px; */
    margin: auto;
    width: 1000px;
    height: auto;
    white-space: nowrap;
}

.main3{
    background-color: #000000;
    border: 3px solid rgb(0, 0, 0);
    border-width: 3px;
    background-image: linear-gradient(#494949, #1f1f1f);
    
    /* margin: 0px 280px 0px 280px; */
    margin: auto;
    width: 1000px;
    height: 164px;
    white-space: nowrap;
}

.follow{
    background-color: #000000;
    border: 3px solid rgb(0, 0, 0);
    border-width: 3px;
    background-image: linear-gradient(#494949, #1f1f1f);
    
    /* margin: 0px 280px 0px 280px; */
    margin: auto;
    width: 1000px;
    height: auto;
    white-space: nowrap;
}

.footer{
    margin: 0px 280px 0px 280px;
    color: brown;
    margin: auto;
}

.ntitle{
    margin: 0px 0px 0px 50px;
}

.members{
    margin: 0px 100px 0px 100px;
    color: rgb(255, 255, 255);
}

.mnews{
    margin: 0px 50px 0px 50px;
    color: rgb(255, 255, 255);
}

.title{
    margin: 0px 50px 0px 50px;
    color: rgb(255, 255, 255);
}

.news1{
    margin: 0px 50px 0px 50px;
    color: rgb(255, 255, 255);
}